<?xml version="1.0" encoding="UTF-8"?>
<!--Springboot将不再使用此Spring配值文件，用Configuration来取代-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

     <bean id="helloService" class="com.zzw.springboot.service.HelloService"/>
</beans>